body {
  background:blanchedalmond;
  font-family:cursive;
  color:dodgerblue;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  color:dodgerblue;
  text-decoration: overline;
}
img {
  border:solid;
  border-style: groove;
  border-radius:40px;
  border-width: 6px;
  border-color: aqua;
}

.title {
  text-align: center; 
  text-decoration: underline;
}

input[type=submit] {
  cursor: wait;
  background-color: blanchedalmond;
  color:blanchedalmond;
  border: none;
}
input:hover {color: darkred;}
ul{
  font-family: monospace; 
  color: black;
  font-size: 16px
}
a {
 font-family: monospace; 
}
